
#whynot {
    position: absolute;
    border: 2px solid #012a4a;
    top: 80%;
    color: #012a4a;
    text-align: center;
    padding: 25px;
    line-height: 1.5;
}

#salmon {
    position: absolute;
    background-color: #f1f1f1;
    top: 135%;
    color: #012a4a;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
}

#question_la {
    position: absolute;
    top: 250%;
}

#ranger {
    position: absolute;
    top: 252%;
}

#halla {
    position: absolute;
    background-color: #f1f1f1;
    top: 190%;
    color: #012a4a;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
}


.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.centered {
    position: absolute;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 70px;
    color: #012a4a;
    font-family: monospace, Segoe UI, Franklin Gothic Medium, Futura, Sans-serif;
    text-transform: uppercase

}

.bottom {
    position: absolute;
    top: 105%;
    left: 35%;
}

.basicinfo {
    position: absolute;
    font-weight:800;
    font-size: 15px;
    color: #012a4a;
    font-family: monospace;
    top: 109%;
    left: 50%;
}

.basicinfo2 {
    position: absolute;
    top: 110%;
    font-size: 13px;
    font-family: monospace;
    left: 50%;
    line-height: 1.5;
}

