<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog.css' %}">
</head>

<body>
    <div class="outer">
        <div class="inner1">
            <div class="header">
                <h1 class="name">
                    JK.Ju's Blog
                </h1>
                <div class="header_menu">
                    <img class="icon" src="../static/img/magnifier.jpg" height="50px">
                    <img class="icon" src="../static/img/account.jpg" height="50px">
                    <img class="icon" src="../static/img/menu.png" height="55px">
                </div>
            </div>
        </div>
        <div class="container">
            <img src="../static/img/sunset.jpeg" width="100%" alt="This is a picture of sunset I took the other day">
        </div>


        <div class="inner2">
            <h2 class="big_size">Details</h2>
            <div class="inner2">
                <h3 class="less_big_size">title</h3>
                <div class="center">{{ article.title }}</div>
            </div>
            <br>
            <br>
            <div class="inner2">
                <h3 class="less_big_size">category</h3>
                <div class="center">{{ article.category }}</div>
            </div>
            <br>
            <br>
            <div class="inner2">
                <h3 class="less_big_size">content</h3>
                <div class="center">{{ article.content }}</div>
            </div>
            <br>
            <br>
            <div>
                <h3 class="less_big_size">time</h3>
                <div>{{ article.time }}</div>

            </div>
        </div>
        <a href="{% url 'blog' %}" class="less_big_size3">Back To Main Page</a>
    </div>
</body>

</html>